<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav ms-auto flex-row">
                <li class="nav-item mx-1">
                    <a href="#" class="link-warning text-decoration-none active">Home</a>
                </li>
                <li class="nav-item mx-1">
                    <a href="#" class="link-warning text-decoration-none">Page 1</a>
                </li>
                <li class="nav-item mx-1">
                    <a href="#" class="link-warning text-decoration-none">Page 2</a>
                </li>
                <li class="nav-item mx-1">
                    <a href="#" class="link-warning text-decoration-none">Page 3</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container-fluid">    <div class="row">
        <div class="col-sm-6"><strong>1</strong></div>
        <div class="col-sm-6"><p class="text-right">2</p></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><p class="text-center">3</p></div>
        <div class="col-sm-4"><p class="text-justify">4</p></div>
        <div class="col-sm-4"><p class="text-nowrap">5</p></div>
    </div>
</div>

</body>
</html>