<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Csapattárs.hu</title>
    <link href="" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
</head>
<body>
<header class="navbar navbar-expand-lg bd-navbar sticky-top menu-color">
    <nav class="container-xxl flex-wrap flex-md-nowrap">
        <div class="d-flex">
            <button class="navbar-toggler d-flex d-lg-none p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bdNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="offcanvas-lg offcanvas-end flex-grow-1" id="bdNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white">Csapattárs.hu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body p-3 p-lg-0 justify-content-end">
                <hr class="d-lg-none text-white">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link p-4 text-white" href="/">Főoldal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4 text-white" href="#">Események</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4 text-white" href="#">Csoportok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4 text-white" href="#">Keresés</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white d-none d-sm-flex" href="#">
                            <img class="img-fluid" th:src="@{/image/profile-svgrepo-com1.svg}" alt="Logo">
                        </a>
                    </li>
                </ul>
                <hr class="d-lg-none text-white">
            </div>
        </div>
    </nav>
</header>

<main class="container-fluid">

    <section class="row vh-100">

        <div class="col-10 col-lg-5 m-auto mt-3 p-3 p-sm-5 d-flex flex-column">
            <h2 class="fw-bold fs-1 my-3 my-sm-5 text-purple">Profil</h2>
                <div class="my-3 col-12 col-sm-6">
                    <img th:src="@{/image/Ellipse1.svg}" class="img-fluid my-1 my-sm-3 profile-pic" alt="Logo">
                    <label class="form-label d-block mt-3">Profilkép feltöltése</label>
                </div>
            <form>
                <div class="my-3">
                    <label class="form-label">Név</label>
                    <input type="text" class="form-control border-black" placeholder="tesztuser33">
                </div>
                <div class="my-3">
                    <label class="form-label">Igazolt játékos vagy?</label>
                    <input type="email" class="form-control border-black" placeholder="tesztuser33@gmail.com">
                </div>
                <div class="my-3 select-c">
                    <label class="form-label">Milyen típus?</label>
                    <select class="form-select border-black">
                        <option selected>Nagypálya</option>
                        <option value="1">Nagypálya</option>
                        <option value="2">Kispálya</option>
                    </select>
                </div>
                <div class="my-3 select-c">
                    <label class="form-label">Milyen szinten?</label>
                    <select class="form-select border-black">
                        <option selected>NB2</option>
                        <option value="1">NB1</option>
                        <option value="2">NB2</option>
                        <option value="3">NB3</option>
                        <option value="4">Megye 1</option>
                        <option value="5">Megye 2</option>
                        <option value="6">Megye 3</option>
                    </select>
                </div>
                <div class="my-3">
                    <label class="form-label">MLSZ Adatlap</label>
                    <input type="text" class="form-control border-black"
                           placeholder="https://ada1bank.mlsz.hu/player?itemId=1212123">
                </div>
                <div class="my-3">
                    <label class="form-label">Poszt</label>
                    <input type="text" class="form-control border-black" placeholder="Védő">
                </div>
                <div class="my-3">
                    <label class="form-label">Kedvenc Csapat</label>
                    <input type="text" class="form-control border-black" placeholder="Brighton Hove & Albion">
                </div>
                <div class="my-3 select-c">
                    <label class="form-label">Lakhely</label>
                    <select class="form-select border-black">
                        <option selected>Pécs</option>
                        <option value="1">Komló</option>
                        <option value="2">Miskolc</option>
                        <option value="3">Budapest</option>
                    </select>
                </div>
                <div class="my-3">
                    <label class="form-label ">Jelszó változtatása</label>
                    <input type="password" class="form-control border-black" placeholder="*********">
                </div>
                <div class="my-3 row d-flex">
                    <button type="submit"
                            class="login-btn-pw login-text-3 fs-5 fw-bold p-3 py-3 py-sm-2 col-12 col-sm-5 my-3">
                        Kihagyom
                    </button>
                    <div class="d-none d-sm-block col-sm-2"></div>
                    <button class="login-btn fs-5 fw-bold p-3 py-2 col-12 col-sm-5 my-3">Mentés</button>
                </div>
            </form>
            <h2 class="fw-bold fs-1 mt-5 my-sm-5 text-purple">Elég volt?</h2>
            <div class="mt-3 row d-flex">
                <button class="login-btn del-btn-text fs-5 fw-bold p-3 text-white" style="background: red">Felhasználó
                    törlése
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-5 p-0 d-flex flex-column align-items-end justify-content-end">
            <div class="d-flex ellipse h-75 w-75"></div>
        </div>
    </section>

</main>
</body>
</html>